version: '3'
services:
  web:
    container_name: web_interface
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
      - "8010:8010"

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
            - 9090:9090
    volumes:
            - "./prometheus:/etc/prometheus"
    restart: always
    command: --web.enable-lifecycle  --config.file=/etc/prometheus/prometheus.yml

  alertmanager:
        image: prom/alertmanager
        container_name: alertmanager
        ports:
                - 9093:9093
        volumes:
                - "./alertmanager:/config"
        restart: unless-stopped
        command: --config.file=/config/alertmanager.yml --log.level=debug

  grafana:
    ports:
        - '3000:3000'
    environment:
        - 'GF_INSTALL_PLUGINS=grafana-clock-panel,grafana-simple-json-datasource'
    container_name: grafana
    image: grafana/grafana